{{#if description}}
  <pre>{{description}}</pre>
{{/if}}

{{one-way-input
    value=birthDate
    update=(action (mut birthDate))
    class="form-control"
    placeholder="Your birthday"
}}

{{#if age}}
  <p>You are currently {{age}} years old. {{if isBirthday "Happy birthday!"}}</p>
{{else}}
  <p>We don't know how old you are.</p>
{{/if}}