<div class="container">
  <h1>Component Best Practices</h1>
  <ol>
    <li>{{link-to "Declaring Objects or Arrays as Component Properties" "leaky"}}</li>
    <li>{{link-to "Don't forget super" "super"}}</li>
    <li>{{link-to "Do you really need to use an observer?" "observers"}}</li>
    <li>{{link-to "Jumpy text input cursors" "dom-attr"}}</li>
    <li>{{link-to "Use closure actions" "closures"}}</li>
    {{!-- <li>{{link-to "Keep your component pure" "pure"}}</li> --}}
    {{!-- <li>{{link-to "Tagless components" "tagless"}}</li> --}}
    {{!-- <li>{{link-to "Follow the Data Down, Actions Up philosophy" "ddau"}}</li> --}}
    {{!-- <li>{{link-to "Using the new component lifecycle hooks" "lifecyle"}}</li> --}}
    {{!-- <li>{{link-to "Contextual components" "contextual"}}</li> --}}
    {{!-- <li>{{link-to "Service backed components" "service-backed"}}</li> --}}
    {{!-- <li>{{link-to "Yielding" "yield"}}</li> --}}
    {{!-- <li>{{link-to "Third party libraries" "thirdparty"}}</li> --}}
    {{!-- <li>{{link-to "Prefer component integration tests to acceptance tests" "integration-tests"}}</li> --}}
  </ol>
</div>