<div class="hero">
  <div class="container">
    <h1>Ember.js Component Best Practices</h1>
    <p class="lead">by Lauren Tan</p>
    <div>
      <a href="https://twitter.com/sugarpirate_" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @sugarpirate_</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div>
      <iframe src="https://ghbtns.com/github-btn.html?user=poteto&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
    </div>
  </div>
</div>

<div class="container main">
  <ol class="toc">
    <li>{{link-to "Declaring Objects or Arrays as Component Properties" "leaky"}}</li>
    <li>{{link-to "Don't forget super" "super"}}</li>
    <li>{{link-to "Do you really need to use an observer?" "observers"}}</li>
    <li>{{link-to "Jumpy text input cursors" "dom-attr"}}</li>
    <li>{{link-to "Use closure actions" "closures"}}</li>
    <li>{{link-to "Follow the Data Down, Actions Up philosophy" "ddau"}}</li>
    <li>{{link-to "Using the new component lifecycle hooks" "lifecycle"}}</li>
    <li>{{link-to "Service backed components" "service-backed"}}</li>
    {{!-- <li>{{link-to "Something computed properties" "computed"}}</li> --}}
    {{!-- <li>{{link-to "Keep your component pure" "pure"}}</li> --}}
    {{!-- <li>{{link-to "Tagless components" "tagless"}}</li> --}}
    {{!-- <li>{{link-to "Contextual components" "contextual"}}</li> --}}
    {{!-- <li>{{link-to "Yielding" "yield"}}</li> --}}
    {{!-- <li>{{link-to "Third party libraries" "thirdparty"}}</li> --}}
    {{!-- <li>{{link-to "Prefer component integration tests to acceptance tests" "integration-tests"}}</li> --}}
  </ol>
</div>