<h4>{{elementId}}</h4>
<hr>
<ul class="list-unstyled">
  <li>External: {{external}}</li>
  <li>Internal: {{Internal}}</li>
</ul>

<div class="form-group">
  <label for="">Modify an external attr</label>
  {{one-way-input
      class="form-control"
      value=external
      update=(action (mut external))
  }}
</div>

<div class="form-group">
  <label for="">Modify an internal attr (will not trigger any of the <code>did{init,receive,update}Attrs</code> hooks)</label>
  {{one-way-input
      class="form-control"
      value=internal
      update=(action (mut internal))
  }}
</div>