<h1>Use closure actions</h1>
<p class="lead">With closure actions, you no longer need to define countless child components with <code>this.sendAction</code> calls. Because closure actions are just JavaScript functions, they also have return values!</p>

<div class="row">
  {{#if selectedPost}}
    <div class="col-md-12">
      <div class="media block">
        {{#if (not-eq selectedPost.thumbnail "self")}}
          <div class="media-left">
            <img src={{selectedPost.thumbnail}} alt={{selectedPost.title}} class="media-object">
          </div>
        {{/if}}

        <div class="media-body">
          <h4 class="media-heading">
            <a href="https://www.reddit.com{{selectedPost.permalink}}">{{selectedPost.title}}</a>
          </h4>
          <p>Posted by {{selectedPost.author}} with score of {{selectedPost.score}}</p>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="col-md-6">
    <h2>Bad</h2>
    <p>Using <code>this.sendAction</code>, we need to repeat ourselves. The more deeply nested your components are, the more frustrating it is.</p>

    {{closures/bad-example
        posts=controversialPosts
        findSubreddit="findSubreddit"
        selectPost="selectPost"
    }}
  </div>

  <div class="col-md-6">
    <h2>Good</h2>
    <p>With closure actions, it is much easier to pass actions around. In some scenarios, we can even leave out component definitions and just add templates.</p>

    {{closures/good-example
        class="block"
        posts=topPosts
        findSubreddit=(action "findSubreddit")
        selectPost=(action (mut selectedPost))
    }}
  </div>
</div>